USE [master]
GO
/****** Object:  Database [GestorComercialCredito]    Script Date: 22/01/2026 2:29:16 p. m. ******/
CREATE DATABASE [GestorComercialCredito]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestorComercialCredito', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GestorComercialCredito.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestorComercialCredito_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GestorComercialCredito_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestorComercialCredito].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestorComercialCredito]
GO
/****** Object:  Table [dbo].[CuentaPUC]    Script Date: 22/01/2026 2:29:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentaPUC](
	[CuentaId] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](20) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[TipoCuenta] [varchar](50) NOT NULL,
	[Activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CuentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 22/01/2026 2:29:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[EmpresaId] [int] IDENTITY(1,1) NOT NULL,
	[Nit] [varchar](20) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Activa] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpresaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Indicador]    Script Date: 22/01/2026 2:29:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Indicador](
	[IndicadorId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IndicadorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndicadorFormula]    Script Date: 22/01/2026 2:29:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndicadorFormula](
	[FormulaId] [int] IDENTITY(1,1) NOT NULL,
	[IndicadorId] [int] NOT NULL,
	[FormulaSQL] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FormulaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientoContable]    Script Date: 22/01/2026 2:29:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientoContable](
	[MovimientoId] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[PeriodoId] [int] NOT NULL,
	[CuentaId] [int] NOT NULL,
	[Valor] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovimientoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Periodo]    Script Date: 22/01/2026 2:29:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Periodo](
	[PeriodoId] [int] IDENTITY(1,1) NOT NULL,
	[Anio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PeriodoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultadoIndicador]    Script Date: 22/01/2026 2:29:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultadoIndicador](
	[ResultadoId] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [int] NOT NULL,
	[PeriodoId] [int] NOT NULL,
	[IndicadorId] [int] NOT NULL,
	[Valor] [decimal](18, 4) NOT NULL,
	[FechaCalculo] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CuentaPUC] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Empresa] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Empresa] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Indicador] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ResultadoIndicador] ADD  DEFAULT (getdate()) FOR [FechaCalculo]
GO
ALTER TABLE [dbo].[IndicadorFormula]  WITH CHECK ADD  CONSTRAINT [FK_Formula_Indicador] FOREIGN KEY([IndicadorId])
REFERENCES [dbo].[Indicador] ([IndicadorId])
GO
ALTER TABLE [dbo].[IndicadorFormula] CHECK CONSTRAINT [FK_Formula_Indicador]
GO
ALTER TABLE [dbo].[MovimientoContable]  WITH CHECK ADD  CONSTRAINT [FK_Mov_Cuenta] FOREIGN KEY([CuentaId])
REFERENCES [dbo].[CuentaPUC] ([CuentaId])
GO
ALTER TABLE [dbo].[MovimientoContable] CHECK CONSTRAINT [FK_Mov_Cuenta]
GO
ALTER TABLE [dbo].[MovimientoContable]  WITH CHECK ADD  CONSTRAINT [FK_Mov_Empresa] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresa] ([EmpresaId])
GO
ALTER TABLE [dbo].[MovimientoContable] CHECK CONSTRAINT [FK_Mov_Empresa]
GO
ALTER TABLE [dbo].[MovimientoContable]  WITH CHECK ADD  CONSTRAINT [FK_Mov_Periodo] FOREIGN KEY([PeriodoId])
REFERENCES [dbo].[Periodo] ([PeriodoId])
GO
ALTER TABLE [dbo].[MovimientoContable] CHECK CONSTRAINT [FK_Mov_Periodo]
GO
ALTER TABLE [dbo].[ResultadoIndicador]  WITH CHECK ADD  CONSTRAINT [FK_Res_Empresa] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresa] ([EmpresaId])
GO
ALTER TABLE [dbo].[ResultadoIndicador] CHECK CONSTRAINT [FK_Res_Empresa]
GO
ALTER TABLE [dbo].[ResultadoIndicador]  WITH CHECK ADD  CONSTRAINT [FK_Res_Indicador] FOREIGN KEY([IndicadorId])
REFERENCES [dbo].[Indicador] ([IndicadorId])
GO
ALTER TABLE [dbo].[ResultadoIndicador] CHECK CONSTRAINT [FK_Res_Indicador]
GO
ALTER TABLE [dbo].[ResultadoIndicador]  WITH CHECK ADD  CONSTRAINT [FK_Res_Periodo] FOREIGN KEY([PeriodoId])
REFERENCES [dbo].[Periodo] ([PeriodoId])
GO
ALTER TABLE [dbo].[ResultadoIndicador] CHECK CONSTRAINT [FK_Res_Periodo]
GO
/****** Object:  StoredProcedure [dbo].[sp_CalcularIndicador]    Script Date: 22/01/2026 2:29:16 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--USE GestorComercialCredito;
--GO

CREATE   PROCEDURE [dbo].[sp_CalcularIndicador]
    @EmpresaId INT,
    @PeriodoId INT,
    @IndicadorId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @ActivoCorriente DECIMAL(18,4) = 0,
        @PasivoCorriente DECIMAL(18,4) = 0,
        @Ingresos DECIMAL(18,4) = 0,
        @UtilidadNeta DECIMAL(18,4) = 0,
        @ActivoTotal DECIMAL(18,4) = 0,
        @Resultado DECIMAL(18,4),
        @FormulaSQL NVARCHAR(500),
        @Sql NVARCHAR(MAX);

    -- Activo Corriente
    SELECT @ActivoCorriente = ISNULL(SUM(mc.Valor), 0)
    FROM dbo.MovimientoContable mc
    JOIN dbo.CuentaPUC c ON c.CuentaId = mc.CuentaId
    WHERE mc.EmpresaId = @EmpresaId
      AND mc.PeriodoId = @PeriodoId
      AND c.TipoCuenta = 'ACTIVO_CORRIENTE';

    -- Pasivo Corriente
    SELECT @PasivoCorriente = ISNULL(SUM(mc.Valor), 0)
    FROM dbo.MovimientoContable mc
    JOIN dbo.CuentaPUC c ON c.CuentaId = mc.CuentaId
    WHERE mc.EmpresaId = @EmpresaId
      AND mc.PeriodoId = @PeriodoId
      AND c.TipoCuenta = 'PASIVO_CORRIENTE';

    -- Ingresos
    SELECT @Ingresos = ISNULL(SUM(mc.Valor), 0)
    FROM dbo.MovimientoContable mc
    JOIN dbo.CuentaPUC c ON c.CuentaId = mc.CuentaId
    WHERE mc.EmpresaId = @EmpresaId
      AND mc.PeriodoId = @PeriodoId
      AND c.TipoCuenta = 'INGRESO';

    -- Utilidad Neta
    SELECT @UtilidadNeta = ISNULL(SUM(mc.Valor), 0)
    FROM dbo.MovimientoContable mc
    JOIN dbo.CuentaPUC c ON c.CuentaId = mc.CuentaId
    WHERE mc.EmpresaId = @EmpresaId
      AND mc.PeriodoId = @PeriodoId
      AND c.TipoCuenta = 'UTILIDAD_NETA';

    -- Activo Total (simplificado)
    SET @ActivoTotal = @ActivoCorriente;

    -- Obtener fórmula (usa variables, no valores)
    SELECT @FormulaSQL = FormulaSQL
    FROM dbo.IndicadorFormula
    WHERE IndicadorId = @IndicadorId;

    -- Armar SQL dinámico con parámetros
    SET @Sql = N'
        SELECT @ResultadoOUT = ' + @FormulaSQL;

    -- Ejecutar fórmula
    EXEC sp_executesql
        @Sql,
        N'
        @ActivoCorriente DECIMAL(18,4),
        @PasivoCorriente DECIMAL(18,4),
        @Ingresos DECIMAL(18,4),
        @UtilidadNeta DECIMAL(18,4),
        @ActivoTotal DECIMAL(18,4),
        @ResultadoOUT DECIMAL(18,4) OUTPUT',
        @ActivoCorriente,
        @PasivoCorriente,
        @Ingresos,
        @UtilidadNeta,
        @ActivoTotal,
        @Resultado OUTPUT;

    -- Insertar resultado
    INSERT INTO dbo.ResultadoIndicador (
        EmpresaId,
        PeriodoId,
        IndicadorId,
        Valor
    )
    VALUES (
        @EmpresaId,
        @PeriodoId,
        @IndicadorId,
        ISNULL(@Resultado, 0)
    );
END;
GO
USE [master]
GO
